@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button class="find-me">Get my location</button>
    <p class="no-browser-support" style="display: none;">Sorry, the Geolocation API isn't supported in Your browser.</p>
    <p class="coordinates" style="display: none;">Latitude: <b class="latitude">-</b> Longitude: <b class="longitude">-</b></p>
</div>